*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    font-size: 3rem;
}

h2{
    padding-bottom: 20px;
}

h6{
    color: #F6F5F2;
}

li{
     list-style-position: inside;
}

a{
    color: #F6F5F2;
    text-decoration: none;
}

footer{
    background-color: #153448;
    padding-top: 60px;
    height: 200px;
}

.container{
    margin: 4rem auto;
}

.myBtn{
    width: 150px;
}

.divPreguntas{
   background-color: #8CB9BD;
   width: 20rem;
   padding: 30px;
   border-radius: 30px;
}

.divPreguntas button{
    margin: 0 10px;
}


.right{
    font-size: 1.2rem;
    color: #32FF6A;
}

.wrong{
    font-size: 1.2rem;
    color: #E72929;
}